* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-image: url("../images/background.jpg");
  font-family: Arial, sans-serif; }

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%; }
  h1 img {
    width: 70%;
    max-width: 1200px;
    height: 60%;
    -webkit-animation: whoosh 4s ease-in-out 1;
            animation: whoosh 4s ease-in-out 1; }

@media (max-width: 800px) {
  h1 img {
    width: 90%;
    height: 90%; } }
img.seal {
  z-index: -1;
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 323px;
  max-width: 40%; }
  img.seal:hover {
    -webkit-animation: jiggle .25s ease-in-out infinite;
            animation: jiggle .25s ease-in-out infinite; }

#music-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 60%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media (max-width: 830px) {
  #music-content {
    max-width: 90%; } }
@media (max-width: 740px) {
  #music-content {
    max-width: 95%; } }
section {
  width: 30%;
  margin: 1%; }
  section button {
    outline: none;
    border: none;
    background-color: white;
    width: 100%;
    border-radius: 5rem;
    text-align: left;
    height: 3rem; }
    section button:hover {
      background-color: #fde290; }
    section button:active {
      background-color: gainsboro; }
    section button h2 {
      color: black;
      display: inline;
      font-size: .8rem; }

.progress {
  width: 80%;
  height: .5rem;
  margin: .15rem 10%;
  border: 1px solid darkgray;
  border-radius: 2rem; }
  .progress span {
    display: block;
    width: 0;
    height: .5rem;
    background-color: #c86100; }

i {
  position: relative;
  padding-left: 1rem; }

.fa-play {
  margin: .4rem;
  color: #4403ad; }

.fa-pause {
  margin: .4rem;
  color: #c86100; }

@-webkit-keyframes progbar {
  0% {
    width: 0%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }

@keyframes progbar {
  0% {
    width: 0%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }
@-webkit-keyframes whoosh {
  0% {
    -webkit-transform: translate(-200%, 0);
            transform: translate(-200%, 0);
    opacity: 1; }
  30% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  40% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  70% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
    opacity: 1; }
  90% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
    opacity: 0; }
  91% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; } }
@keyframes whoosh {
  0% {
    -webkit-transform: translate(-200%, 0);
            transform: translate(-200%, 0);
    opacity: 1; }
  30% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  40% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  70% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
    opacity: 1; }
  90% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
    opacity: 0; }
  91% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; } }
@-webkit-keyframes jiggle {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  10% {
    -webkit-transform: translate(-1px, 1px);
            transform: translate(-1px, 1px); }
  20% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0); }
  30% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px); }
  40% {
    -webkit-transform: translate(0, -2px);
            transform: translate(0, -2px); }
  50% {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px); }
  60% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0); }
  70% {
    -webkit-transform: translate(0, 1px);
            transform: translate(0, 1px); }
  80% {
    -webkit-transform: translate(-1px, 2px);
            transform: translate(-1px, 2px); }
  90% {
    -webkit-transform: translate(-2px, 1px);
            transform: translate(-2px, 1px); }
  100% {
    -webkit-transform: translate(-1px, 0);
            transform: translate(-1px, 0); } }
@keyframes jiggle {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  10% {
    -webkit-transform: translate(-1px, 1px);
            transform: translate(-1px, 1px); }
  20% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0); }
  30% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px); }
  40% {
    -webkit-transform: translate(0, -2px);
            transform: translate(0, -2px); }
  50% {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px); }
  60% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0); }
  70% {
    -webkit-transform: translate(0, 1px);
            transform: translate(0, 1px); }
  80% {
    -webkit-transform: translate(-1px, 2px);
            transform: translate(-1px, 2px); }
  90% {
    -webkit-transform: translate(-2px, 1px);
            transform: translate(-2px, 1px); }
  100% {
    -webkit-transform: translate(-1px, 0);
            transform: translate(-1px, 0); } }

/*# sourceMappingURL=stylesheet.css.map */